<!doctype html>
<html ng-app="app">
<head>
	<title>Talis List API Demo</title>
</head>

<body>

	<div ng-controller="moduleController">

		<select ng-model="institution" ng-change="selectInstitution()" ng-options="i.displayName for i in institutions">
			<option value="">Please Select Your Institution</option>
		</select>
		<h3>{{ selectedInstitution }}</h3>
		<h3>Departments</h3>
		<select ng-model="department" ng-change="selectDepartment()" ng-options="d.name for d in departments">
			<option value="">Please Select Your Department</option>
		</select>
		<h3>Courses</h3>
		<select ng-model="course" ng-change="selectCourse()" ng-options="c.name for c in courses">
			<option value="">Please Select Your Course</option>
		</select>
		<select ng-model="module" ng-change="selectModule()" ng-options="m.name for m in modules">
			<option value="">Please Select Your Module</option>
		</select>

		<h1>{{ title }}</h1>
		<h2>{{ description }}</h2>
		<ul ng-repeat="item in list">
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		</ul>
	</div>

	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="modules/app.services.js"></script>
	<script src="modules/app.js"></script>
	<script src="Application/controllers.js"></script>
</body>
</html>